body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace; /* Шрифт как у ПК 90-х годов */
    background-color: black;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16%;
    height: 314px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

.typewriter-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    color: #00FF00;
    background-color: #00000087;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#typewriter-text {
    white-space: pre-wrap; /* Чтобы текст переносился на новые строки */
    overflow: hidden; /* Скрывает текст, который выходит за границы */
    border-right: .15em solid #00FF00; /* Мигающий курсор */
    font-size: 1em; /* Размер шрифта */
}

.social {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.instagram-icon {
    width: 50px;
    height: 50px;
}

.social a:hover .instagram-icon {
    filter: brightness(0.8);
}

/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
    .video-container {
        width: 52%;
        height: 20%;
    }

    .video-container {
        width: 90%;
    }

    .instagram-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 400px) {
    .typewriter-container {
        width: 95%;
        font-size: 0.7em;
    }

    .video-container {
        width: 95%;
    }

    .instagram-icon {
        width: 30px;
        height: 30px;
    }
}
